body {
    background-color: #e9f5ec;
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    color: #155724;
}

.navbar .btn-outline-light {
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 500;
    transition: background 0.3s;
}

.navbar .btn-outline-light:hover {
    background-color: #ffffff;
    color: #198754; /* Bootstrap green */
}
.sidebar {
    min-height: 85vh;
    border-radius: 20px;
}
.sidebar .nav-link {
    font-weight: 500;
    transition: background 0.3s;
}
.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding-left: 10px;
}
